* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-image: url(../img/Fondo2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background: #636262;
  border-radius: 20px;
  width: 10px;
  border: 3px solid #141514;
}

body::-webkit-scrollbar-thumb:hover {
  background: #868686;
}

body::-webkit-scrollbar-track {
  background: #141514;
}

.navbar-toggler {
  position: absolute;
  right: 0;
  top: 20px;
}

.navbar ul li {
  position: relative;
}
.navbar ul li a {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}
.navbar ul li:after {
  content: "";
  height: 4px;
  width: 0;
  background-color: #37FDE8;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}
.navbar ul li:hover:after {
  width: 100%;
  right: 0;
}

.header-lupa i {
  font-size: 1.4rem;
  color: #fff;
}

.header-shop i {
  font-size: 1.4rem;
  color: #fff;
}

.header-user i {
  font-size: 2.5rem;
  color: #fff;
  transition: all 0.5s;
}
.header-user i:hover {
  color: #37FDE8;
}

main {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 0.9rem;
}
main span {
  color: #37FDE8;
}

.main-snikers img {
  transition: all 1s;
}
.main-snikers img:hover {
  transform: scale(1.01) translate(10px, 12px);
}

.coleccion-article {
  transition: all 1s;
}
.coleccion-article:hover {
  transform: translate(10px, 5px);
}

.join-conteiner {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 12px;
  grid-template-areas: "article1 article1 article1 article5" "article2 article3 article4 article5";
}

.article1 {
  grid-area: article1;
  transition: all 1s;
}
.article1:hover {
  grid-area: article1;
  transform: scale(1.01);
}

.article2 {
  grid-area: article2;
  transition: all 1s;
}
.article2:hover {
  grid-area: article2;
  transform: scale(1.01);
}

.article3 {
  grid-area: article3;
  transition: all 1s;
}
.article3:hover {
  grid-area: article3;
  transform: scale(1.01);
}

.article4 {
  grid-area: article4;
  transition: all 1s;
}
.article4:hover {
  grid-area: article4;
  transform: scale(1.01);
}

.article5 {
  grid-area: article5;
  transition: all 1s;
}
.article5:hover {
  grid-area: article5;
  transform: scale(1.01);
}

.main-shop--image {
  transition: all 1s;
}
.main-shop--image:hover {
  transform: scale(1.02);
}

.main-shop4 p {
  font-size: 3rem;
}
.main-shop4 a {
  color: #37FDE8;
  text-decoration: none;
}

.main-shop5 p {
  font-size: 0.9rem;
}

.main-shop6, .btn3 {
  font-weight: 700;
  width: 280px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(241, 241, 241, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.main-shop6 a, .btn3 a {
  color: #fff;
}

footer {
  margin-top: auto;
}
footer a {
  text-decoration: none;
}

.btn-white {
  background-color: #fff;
}

.btn-light-blue {
  background-color: #37FDE8;
}

.btn-gris {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-gris2 {
  background-color: rgba(255, 255, 255, 0.5);
}

.btn-sombra-color {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn1 a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  width: 150px;
  height: 55px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
  transition: all 1s;
}
.btn1 a:hover {
  color: #37FDE8;
}

.btn2 a {
  color: rgb(0, 0, 0);
  font-weight: 700;
  width: 93px;
  height: 26px;
  border-radius: 20px;
  background-color: #37FDE8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
}

.btn3 {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  color: black;
  height: 40px;
  transition-duration: 0.4s;
}
.btn3:hover {
  background-color: #37FDE8;
  color: black;
  border: none;
}

.btn1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.btn1 a:hover {
  transform: scale(1.03);
}
.btn1 a img {
  width: 25px;
  height: 25px;
  margin-left: 9px;
}

.form-group input {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: rgba(241, 241, 241, 0);
}

.form-group textarea {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: rgba(241, 241, 241, 0);
}

.button {
  background-color: rgba(241, 241, 241, 0);
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  width: 90px;
  height: 40px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #37FDE8;
  color: black;
  border: none;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  margin: 0 4px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span {
  display: block;
  height: 37px;
  width: 37px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper i {
  line-height: 38px;
  font-size: 20px;
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}

.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper a {
  color: black;
}

.wrapper .icon:hover span {
  color: #fff;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
  background: #3B5999;
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
  background: #46C1F6;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
  background: #e1306c;
}

.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
  background: #333;
}

.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before {
  background: #DE463B;
}/*# sourceMappingURL=style.css.map */